* {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "H H H H"
    "C C C C"
    "F F F F";
}

.header {
  grid-area: H;
  background-color: #677077;
  height: 100px;
  text-align: center;
}

.content {
  grid-area: C;
  background-color: #b5b5b7;
  color: #fff;
  padding:10px;
}

.footer {
  grid-area: F;
  background-color: #677077;
  height: 100px;
  text-align: center;
}
